* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main_content {
  width: 52%;
  height: auto;
  margin: auto;
  box-sizing: border-box;
}
.header_content {
  padding-top: 5px;
  font-size: 15px;
}
.heading_text {
  width: 100%;
}
.search_product {
  margin-left: 579px;
  margin-top: -19px;
}
.search_product input {
  background: lavender;
  border: none;
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
}
/* nav-section */
.nav-section {
  border-bottom: 2px solid lightgrey;
}
.nav-section ul {
  display: flex;
  margin-top: 10px;
}
.nav-section ul li {
  list-style-type: none;
  padding: 10px;
}
.nav-section ul li a:hover {
  border-bottom: 2px solid lightblue;
}
.nav-section ul li a {
  text-decoration: none;
  color: black;
}
.cart_item_total_tk {
  display: inline-block;
  margin-top: 11px;
  margin-left: 64px;
}
.cart_item_total_tk small {
  color: lightgray;
}
/* checkout_section */
.checkout_w_70 {
  width: 70%;
  height: auto;
  color: #34383c;
  padding: 2px;
  margin-top: 5px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}
.coupon {
  background: linear-gradient(90deg, rgba(42, 61, 133, 1) 0%, rgba(9, 79, 121, 1) 34%, rgba(161, 203, 236, 1) 100%);
  height: 28px;
  color: #fff;
  padding-top: 7px;
  width: 98%;
  display: inline-block;
  border-radius: 7px;
  margin-top: 10px;
  padding-left: 5px;
}
.coupon small {
  font-size: 16px;
}
/* billing-sction */
sup {
  color: red;
}
.billing_section {
  width: 52%;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  float: left;
  color: #a0a0a0;
}
.billing_text h3 {
  color: #a0a0a0;
}
.form_section {
  margin-top: 8px;
}
form {
  box-sizing: border-box;
}
.billing_section .input_name label option textarea {
  margin-top: 2px;
  font-size: 12px;
}
.billing_section .input_name input {
  width: 97%;
  padding: 2px;
  margin-top: 2px;
  border: none;
  line-height: 25px;
  background-color: #dae1e7;
  font-size: 17px;
  padding-left: 8px;
  outline: none;
}
.billing_section label {
  padding-top: 5px;
}
.billing_section .input_name input:hover {
  border: 3px solid cyan;
  box-sizing: border-box;
  border-radius: 10px;
}
select {
  width: 98.4%;
  height: 20px;
  border: none;
  background-color: #efefef;
  outline: none;
  padding-left: 8px;
}
.billing_section textarea {
  width: 281px;
  height: 30px;
  border: none;
  background-color: #dae1e7;
  padding-left: 8px;
}
form .input_name {
  margin-top: 5px;
}
select,
textarea:hover {
  border: 3px solid cyan;
  border-radius: 10px;
}
.country_option {
  margin-top: 5px;
}
.address {
  margin-top: 5px;
}
.state_option {
  margin-top: 5px;
}

.other_address {
  margin-top: 5px;
}
.shipping_text {
  font-size: 15px;
}
h3 {
  font-size: 17px;
}
/* order_section_start */
.order_section {
  width: 45%;
  height: auto;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.order_text h3 {
  color: #34383c;
}
.form_section table {
  color: #a0a0a0;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
.form_section thead th {
  background-color: #726e6e;
  color: #fff;
}
.form_section tr:nth-child(2) {
  background-color: #efefef;
}
.form_section tr:nth-child(1) {
  background-color: #efefef;
}
.form_section tr:nth-child(3) {
  background-color: #dae1e7;
}
.form_section tr:nth-child(4) {
  background-color: #dae1e7;
}
.form_section tr:nth-child(5) {
  background-color: #dae1e7;
}
table .tk {
  background-color: #fff;
}
.form_section table tr {
  padding: 8px;
  line-height: 30px;
  text-align: left;
}
.form_section table tr th {
  padding-left: 8px;
}
.form_section table tr td {
  padding-left: 8px;
  padding-right: 4px;
}
/* pyament_section */
.payment_system {
  color: #a0a0a0;
  background-color: #726e6e;
  height: auto;
  padding: 19px 8px;
  margin-top: 20px;
  color: #fff;
}
.payment_system img {
  width: 100px;
  height: 18px;
}
.payment-description {
  background-color: #e7e4e4;
  height: auto;
}
.payment-description p {
  text-align: justify;
  padding: 20px;
  color: #a0a0a0;
}
.payment_button {
  margin-top: 20px;
  background-color: #e7e4e4;
  text-align: center;
  height: 80px;
}
.payment_button input:hover {
  border: 3px solid cyan;
}
.payment_button input {
  background-color: #383a3b;
  width: 80%;
  height: auto;
  outline: none;
  font-size: 20px;
  padding: 16px;
  margin-top: 11px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
/* .right_side */
.checkout_w_30 {
  width: 28%;
  height: auto;
  padding: 2px;
  display: inline-block;
  margin-top: 15px;
  color: #a0a0a0;
}
.search {
  margin-left: 20px;
  margin-top: -4px;
}

.search input {
  background: lavender;
  border: none;
  width: 100%;
  height: auto;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
}
.comment {
  margin-top: 20px;
  padding: 8px;
}
.comment p {
  padding: 8px;
  font-size: 17px;
  border-bottom: 2px solid lightgray;
}
.comment_text {
  margin-top: 11px;
}
.comment_text a {
  padding-left: 5px;
  text-decoration: none;
  color: #a0a0a0;
}
.archives p {
  margin-top: 20px;
  padding: 8px;
  border-bottom: 2px solid lightgray;
}
.categories p {
  margin-top: 20px;
  padding: 8px;
  border-bottom: 2px solid lightgray;
}
.checkout_w_30 small {
  padding: 10px;
}
.meta p {
  margin-top: 45px;
  padding: 8px;
  border-bottom: 2px solid lightgray;
  font-size: 17px;
}
.meta ul li {
  list-style-type: none;
  padding: 10px;
}
.meta ul li a {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 15px;
  border-bottom: 2px solid lightgray;
  padding: 5px;
}
